@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
    <ul>
        <li>@Html.ActionLink("IHome", "Index", "Home")</li>
        <li>@Html.ActionLink("IAvailabilityService", "Index", "AvailabilityService")</li>
        <li>@Html.ActionLink("IAvailability", "Index", "Availability")</li>
        <li>@Html.ActionLink("IService", "Index", "Service")</li>
        <li>@Html.ActionLink("IXtra", "Index", "Xtra")</li>
    </ul>
    </div>
</body>
</html>
